@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');

body,
html {
  font-family: 'IBM Plex Mono', monospace;
}

:root {
  --bg: #0a192f;
  --yellow: #ffc107;
  --font: #ccd6f6;
  --font-dark: #8892b0;
  --light-green: #3b978d;
  --font-family: 'IBM Plex Mono', monospace;
}
